body, html {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
    height: 100%;
}
a {
    color: #333;
    text-decoration: none;
}

a:focus, a:hover {
    color: #333;
    text-decoration: none;
}

.home-container {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
}

.weui-panel:before {
    border-top: none;
}

.header {
    height: 60px;
    line-height: 60px;
    position: relative;
}

.gps {
    padding-left: 20px;
}

.changecity {
    padding-left: 14px;
}

.header .menu ul {
    overflow: hidden;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

.header .menu ul li, .header .tab ul li {
    float: left;
    list-style: none;
    color: #333;
    margin-right: 10px;
}

.header ul li a {
    color: #333;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
}

.header .tab ul li a.active {
    color: #FFF;
    background: #8FD026;
}

.city-container {
    position: absolute;
    top: 60px;
    left:50%;
    transform: translateX(-50%);
    z-index: 100;
    background: #FFF;
    display: none;
}

.city-select {
    display: flex;
    align-items: center;
}

.city-select select {
    width: 100px;
    margin: 0 10px;
}

.city-container .title {
  font-size: 20px;
}

.city-select .title.search-city {
    margin: 0 10px;
}

.search-container {
    height: 87px;
    background: #F9F9F9;
    line-height: 87px;
}

.search-input {
    position: relative;
}

.search-input input{
    height: 50px;
    width: 624px;
    background: #FFF;
    padding-left:21px;
    color: #9C9C9C;
    font-size: 16px;
    border: none;
    position: relative;
}

.search-icon {
    position: absolute;
    top: 30px;
    left: 600px;
}

.kind-list {
    margin-top: 20px;
}

.brand-more {

}

.brand-list {
    margin-bottom: 20px;
}

.kind-list.price {
    margin: 0;
    padding-top: 20px;
}

.kind-title {
    color: #333;
    font-weight: 600;
    margin-right: 28px;
}

.kind-item {
    margin-right: 20px;
    display: inline-block;
    padding: 0 10px;
}

.kind-item.active {
    color: #FFF;
    background: #8FD026;

}

.sort {
    background: #8FD026;
    color: #FFF;
    margin-top: 32px;
    padding-left: 15px;
}

.result-text {
    margin: 20px 0;
}

.weui-media-box_appmsg .weui-media-box__hd {
    width: 255px;
    height: 182px;
}

.hotel-house {
    color: #6F6F6F;
    font-size: 14px;
    margin-top: 19px;
}

.section {
    padding-right: 4%;
}

#content {
    padding-right: 20px;
}

.hotel-price {
    color: #FA2F2F;
    font-size: 30px;
}

.home-container .pagination li a {
    border-radius: 0;
    margin-left: 2px;
}

.home-container .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #FFF;
    background-color: #8FD026;
    border-color: #dadada;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #FFF;
    background-color: #8FD026;
    border-color: #dadada;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #8FD026;
    border-color: #8FD026;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    margin-right: 14px;
    line-height: 1.42857143;
    color: #9C9C9C;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dadada;
}


.footer {
    background: #8FD026;
    font-size: 16px;
    color: #FFF;
    height: 205px;
    padding-top: 33px;
}

.footer li {
    margin-top: 10px;
}

.footer .tel {
    height: 56px;
    border: 1px solid #FFF;
    line-height: 56px;
    text-align: center;
}

.footer .code-item {
    text-align: right;
}

.footer .code-item p {
    padding-right: 15px;
}

.footer .copyright {
    text-align: center;
}

.side {
    width: 7.8%;
    height: 775px;
    background: #8FD026;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 999;
    color: #FFF;
    text-align: center;
}

.side li {
    color: #FFF;
    height: 90px;
    padding: 20px 4px;
    border-bottom: 1px solid #FFF;
}

.side li a {
    color: #FFF;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-content .close {
    position: absolute;
    top:0;
    right: -24px;
    font-size: 25px;
    font-weight: 400;
    color: #FFF;
    opacity: 1;
}

#serviceModal .modal .modal-header,#serviceModal  .modal .modal-footer {
    border: none;
}

.modal .modal-body p {
    color: #9C9C9C;
    font-size: 14px;
}

.modal .modal-body .advice-box {
    margin-top: 30px;
}

.modal .modal-body .btn {
    border-radius: 0;
}

.modal .modal-body .btn.btn-primary {
    background: #8FD026;
    color: #FFF;
    border-color: #8FD026;
}

.advice-box .phone {
    color: #8FD026;
}

.advice-box .time {
    color: #9C9C9C;
}

@media (min-width: 768px) {
    #suggestModal .modal-dialog {
        width: 502px;
    }
}

#suggestModal .modal-title {
    text-align: center;
}

#suggestModal .title {
    margin: 22px 0 13px 0;
}
.modal .tip {
    font-size: 12px;
    color: #8FD026;
}

.modal .modal-body .weui-textarea {
    padding: 14px 20px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    font-size: 14px;
}

.modal .submit .submit-btn {
    width: 137px;
    margin: 22px auto 37px;
    text-align: center;
    height: 43px;
    background: #8FD026;
    color: #FFF;
    line-height: 43px;
    cursor: pointer;
}
.popover {
    max-width: 428px;
    border: 1px solid #F0F0F0;
    border-radius: 0;
}


.popover-title {
    color: #333;
    height: 47px;
    line-height: 47px;
    background-color: #FFF;
    padding: 0;
    padding-left: 27px;
}

.popover-content {
    padding: 0;
}

.pk-media {
    display: flex;
    border-bottom: 1px solid #E6E6E6;
    padding: 17px 24px 16px 20px;
}

.pk-media .media-left a{
    display: flex;
    align-items: center;
}

.pk-media .media-left img {
    width: 142px;
    height: 104px;
}

.pk-media .media-body p span {
    font-size: 14px;
    color: #6F6F6F;
    margin-right: 20px;
}

.pk-media .media-body .price {
    font-size: 20px;
    color: #FF4040;
}

.media-foot {
    display: flex;
    justify-content: space-between;
}

.pk-foot {
    height: 90px;
    line-height: 90px;
    border-top: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pk-foot .pk-btn {
    background-color: #8FD026;
    width: 323px;
    height: 53px;
    line-height: 53px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}
