body {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
}

body,html,.coupon-container,.coupon-box {
    height: 100%;
}

.coupon-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
}

.coupon-container .header .back {
    position: absolute;
    top: 0.7rem;
    left: 1.1rem;
}

.coupon-container .header img {
    width: 9px;
    height: 18px;
}

.coupon-container .header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}
.coupon-container .coupon-box {
    background: #F5F5F5;
    padding: .5rem 1rem;
}

.coupon-box .coupon-item {
    margin-bottom: 0.55rem;
    background: #FFF;
    background: url("../images/coupon1.png");
    background-size: 100% 100%;
    background-position: center center;
    height: 4.6rem;
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;
    border-radius: 3px;
}

.coupon-box .coupon-item.bg2 {
    background-image: url("../images/coupon2.png");
}

.coupon-box .coupon-item .coupon-price {
    margin-top: .5rem;
}

.coupon-box .coupon-item .coupon-price span {
    font-size: 2.1rem;
    font-weight: 500;
}