body, html,.house-list, .pre-list  {
    height: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
}

.order-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
}

.my-collection .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.house-list .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.house-list select {
    border: none;
    color: #FFF;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/drop-arow.png") scroll right center transparent;
    background-size:8px 12px ;
    background-repeat: no-repeat;
    padding-right: 13px;
}


.my-collection .header h1 {
    flex: 1;
    margin-left: 1.5rem;
}

.my-collection .header .edit{
    margin-right: .5rem;
}

.order-container .header .back {
    position: absolute;
    top: 0.7rem;
    left: 1.1rem;
}

.order-container .header img {
    width: 9px;
    height: 18px;
}

.order-container .header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}

.order-container .header .tab{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}

.order-container .header .tab-item{
    margin-right: .5rem;
    height: 1.8rem;
}

.order-container .header .tab-item.selected{
    border-bottom: 1px solid #FFF;
}

.order-container .order-content {
    background: #F5F5F5;
    padding-top: .55rem;
}

.house-list .order-content {
    height: 100%;
}

.house-list #content {
     margin: .5rem .5rem;
}

.order-container .order-content .location img {
    width: .9rem;
    height: 1.2rem;
}

.order-content .order-item {
    margin-top: 0.55rem;
    background: #FFF;
    position: relative;
}

.order-content .order-item .hotel-tel {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 12px;
    color: #333;
    padding-left: 1rem;
}

.order-content .order-item .weui-cell {
    padding: 0;
}

.order-content .order-item .weui-media-box {
    padding: .5rem;
}

.order-content .order-item .weui-media-box .weui-media-box__hd {
    width: 5.4rem;
    height: 4.1rem;
}

.order-content .order-item .weui-media-box img {
    height: 100%;
}

.order-content .order-item .hotel-house {
    font-size: .6rem;
    color: #6F6F6F;
    margin-top: .2rem;
}

.order-content .order-item .hotel-time {
    font-size: .6rem;
    color: #333;
    margin-top: 1rem;
}

.order-content .price-time {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-foot .header {
    display: block;
}

.my-foot {
    height: 100%;
    background: #F5F5F5;
}
.my-foot .hotel-price,.my-collection .hotel-price {
    color: #FF4040;
}

.order-content .pre-status {
    height: 2rem;
    line-height: 2rem;
    font-size: .7rem;
    color: #FF4040;
    text-align: right;
    padding-right: 1rem;
}

.order-content .pre-status.cancel {
    height: 2rem;
    line-height: 2rem;
    font-size: .7rem;
    color: #333;
}

.my-collection label .weui-cell__hd {
    display: none;
}

.my-collection .footer .btn.warn{
    padding: .4rem 1.5rem;
    color: #FFF;
    background: #FF4040;
    border: 1px solid #FF4040;
    margin-right: 1rem;
}

.my-collection .footer {
    position: fixed;
    bottom: 0;
    background: #FFF;
    height: 2.5rem;
    padding-top: 0.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-collection .foot{
    display: none;
}

.my-collection .order-content .order-item .hotel-time {
    font-size: .7rem;
    color: #9C9C9C;
    margin: 0;
}

.order-content .weui-media-box:before {
    left: 0;
}

.order-content .house-angle {
    width: 0;
    height: 0;
    border-top: 3.5rem solid #8FD026;
    border-left: 3.5rem solid transparent;
    position: absolute;
    top:0;
    right: 0;
}
.order-content .house-status {
    position: absolute;
    top:.5rem;
    right: .2rem;
    color: #FFF;
}

.order-content .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    line-height: 1.7rem;
    border-top: 1px solid #E5E5E5;
}

.order-content .operation img {
    width: .5rem;
    height: .6rem;
    padding-left: 15px;
    margin-right: .5rem;
}

.order-content .operation .house-btn {
    height: 1.4rem;
    color: #8FD026;
    padding: 0 .6rem;
    line-height: 28px;
    margin-right: .5rem;
}

.order-content .operation .house-btn.cancel {
    color: #333;
}

.order-content .pre-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    height: 1.8rem;
    padding: 0 .5rem;
}

.order-content .pre-time {
    color: #6F6F6F;
}

.load-more {
    margin-top: 1rem;
}
