body,html {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
    height: 100%;
}

.house-container {
    height: 100%;
}

.house-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
}

.house-container .header .back {
    position: absolute;
    top: 0.7rem;
    left: 1.1rem;
}

.house-container .header img {
    width: 9px;
    height: 18px;
}

.house-container .header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}

.house-container .house-content {
    background: #F5F5F5;
    padding-top: .5rem;
    height: 100%;
}

.house-content .house-card {
    padding:0 .9rem .9rem .9rem;
    /*text-align: center;*/
    background: #FFFFFF;
}

.house-card .title {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .8rem;
}

.select select {
    height: 1.7rem;
    line-height: 1.7rem;
    width: 100%;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/arrow.png") scroll right center transparent;
    background-size:10px 10px ;
    background-repeat: no-repeat;
    padding-left: 13px;
    background-position: 98% 50%;
}

.radio {
    text-align: left;
    margin-top: .7rem;
}

.radio label{
    margin-right: .7rem;
}

.house-list .weui-btn {
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border: 1px solid #737373;
    border-radius: 0;
    font-size: .7rem;
    text-align: center;
    padding: 0 14px;
}

.house-list .weui-btn:after {
    border: none;
}

.house-list .weui-btn.btn-disable {
    background: #D4D4D4;
    color: #333;
}

.house-list .weui-btn.btn-select {
    background: #FF4040;
    color: #FFF;
    border-color: #FF4040;
}

.house-container .footer {
    position: fixed;
    bottom: 0;
    background: #FFF;
    height: 2.5rem;
    padding-top: 0.25rem;
    width: 100%;
}

.house-container .footer .footer-btn {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 0.8rem;
    line-height: 2rem;
}

.modal .layui-m-layerbtn {
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: #FFF;
    height: 36px;
    line-height: 36px;
}


.cancel, .ok {
    padding: .2rem 2rem;
}

.layui-m-layersection .layui-m-layercont {
    padding: 20px 15px;
}

.layui-m-layerchild.modal {
    box-sizing: border-box!important;
    padding: 1rem 1.3rem;
    border-radius: 0;
}

.modal .layui-m-layerbtn span[no], .modal .layui-m-layerbtn span[yes]{
    width: 1.5rem;
    border-radius: 0;
    padding: 0rem 1rem;
    line-height: 36px;
}

.modal .layui-m-layerbtn span:nth-child(1){
    color: #8FD026;
    border: 1px solid #8FD026;
    background: #FFF;
}

.modal .layui-m-layerbtn span:nth-child(2){
    background: #8FD026;
    color: #FFF;
}

.cancel {
    color: #8FD026;
    border: 1px solid #8FD026;
}

.ok {
    background: #8FD026;
    color: #FFF;
}

.house-content h3{
    text-align: left;
}
