body,html {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
    height: 100%;
}

.house-container {
    height: 100%;
}

.house-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
}

.house-container .header .back {
    position: absolute;
    top: 0.7rem;
    left: 1.1rem;
}

.house-container .header img {
    width: 9px;
    height: 18px;
}

.house-container .header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}

.house-container .house-content {
    background: #F5F5F5;
    padding-top: .5rem;
}


.house-container .submit {
    height: 2.3rem;
    margin-top: 2.5rem;
    width: 100%;
}

.house-container .time {
    margin-top: .6rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    background: #FFF;
    padding-top: .5rem;
}

.house-container .time input {
    width: 7.5rem;
    background: #F9F9F9;
    color: #333;
    border: 1px solid #E6E6E6;
    height: 1.7rem;
}
.house-container .submit .submit-btn {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 2.3rem;
    background: #8FD026;
    color: #FFF;
    font-size: 0.8rem;
    line-height: 2.3rem;
}

.house-container .input-area {
    margin-top: .5rem;
}

.house-container .house-content .cancel-area {
    margin-top: 0rem;
}

.house-container .weui-textarea {
    padding: .7rem 1rem;
}

.pre-container .house-content {
    height: 92%;
}

.pre-container .pre-logo {
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 50%;
    background: #C5EB88;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0;
}

.pre-container .quit p{
    text-align: center;
    margin-top: 1rem;
}

.pre-container .pre-logo img {
    width: 2rem;
    height: 2rem;
}


.time-picker select{
    padding: 0 10px;
    display: flex;
    border: 1px solid #E6E6E6;
    margin-right: .5rem;
    height: 1.7rem;
    width: 7.5rem;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/select-arrow.png") no-repeat scroll right center transparent;
    background-size: 14px 7px;
    background-position: 97% 50%;
    background-color: #F9F9F9;
}

.submit-btn a {
    color: #FFF;
}