body {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
}
body,html {
    height: 100%;
}
.house-source.weui-tab .header{
    display: flex;
    justify-content: center;
}

.house-source .weui-navbar__item {
    padding: 0;
}

.house-source .weui-navbar__item.weui-bar__item--on {
    color: #FFF;
    background-color: #8FD026;
    border-bottom: 1px solid #FFF;
}

.house-source .weui-navbar__item{
    color: #FFF;
    background-color: #8FD026;
}

.house-source .weui-navbar + .weui-tab__bd {
    padding-top: 0px;
}

.order-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
}

.order-container .header .back {
    position: absolute;
    top: 0.7rem;
    left: 1.1rem;
}

.order-container .header img {
    width: 9px;
    height: 18px;
}

.order-container .header .tab{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    line-height: 2.2rem;
}

.order-container .header .tab-item{
    margin-right: .5rem;
    height: 1.8rem;
}

.order-container .header .tab-item.selected{
    border-bottom: 1px solid #FFF;
}

.order-container .order-content {
    background: #F5F5F5;
    padding-top: .55rem;
}

.order-container .order-content .location img {
    width: .9rem;
    height: 1.2rem;
}

.order-content .order-item {
    margin-top: 0.55rem;
    background: #FFF;
    position: relative;
}

.order-content .order-item .hotel-tel {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 12px;
    color: #333;
    padding-left: 1rem;
}

.order-content .order-item .weui-media-box .weui-media-box__hd {
    width: 5.4rem;
    height: 4.1rem;
}

.order-content .order-item .weui-media-box img {
    height: 100%;
}

.order-content .order-item .hotel-house {
    font-size: .6rem;
    color: #6F6F6F;
    margin-top: .2rem;
}

.order-content .order-item .hotel-time {
    font-size: .6rem;
    color: #333;
    margin-top: 1rem;
}

.order-content .hotel-price {
    height: 2rem;
    line-height: 2rem;
    font-size: .7rem;
    color: #FF4040;
}

.order-content .weui-media-box:before {
    left: 0;
}

.order-content .house-angle {
    width: 0;
    height: 0;
    border-top: 3.5rem solid #8FD026;
    border-left: 3.5rem solid transparent;
    position: absolute;
    top:0;
    right: 0;
}
.order-content .house-status {
    position: absolute;
    top:.5rem;
    right: .2rem;
    color: #FFF;
}

.order-content .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    line-height: 1.7rem;
    border-top: 1px solid #E5E5E5;
}

.order-content .operation img {
    width: .5rem;
    height: .6rem;
    padding-left: 15px;
    margin-right: .5rem;
}

.order-content .operation .house-btn {
    height: 1.4rem;
    color: #8FD026;
    padding: 0 .6rem;
    line-height: 28px;
    margin-right: .5rem;
}

.order-content .operation .house-btn.cancel {
    color: #333;
}

.order-content .operation .house-btn.warn {
    color: #FF4040;
}

.order-content .pre-info {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-size: .7rem;
    height: 1.8rem;
    padding: .5rem .5rem;
    overflow: hidden;
}

.order-content .pre-info div {
    /* flex: 1;
    text-overflow: ellipsis;
    word-break: break-all; */
}

.order-content .pre-time {
    color: #6F6F6F;
}