body, html {
    margin: 0;
    font-size: 16px;
    font-family: "STHeitiSC-Light", Helvetica, STHeiTi, sans-serif;
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
    height: 100%;
}

.search-container {
    height: 100%;
}

.search-container .header {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 .5rem;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.search-container .index {
    display: block;
    margin-top: .4rem;
}

.search-container .index img{
    width: 1rem;
    height: .9rem;
}

.search-container .header .search-input {
    position: relative;
    margin: 0 .5rem;
}

.search-container .header .search-input .cancel {
    width: .75rem;
    height: .75rem;
    line-height: .75rem;
    text-align: center;
    color: #FFF;
    background: #8FD026;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    right: -1.6rem;
    top:.4rem;
    transform: rotate(45deg);
}
.search-container .header a {
    display: inline-block;
}

.search-link {
    width: 80%;
}

.search-container .header .search-input input {
    width: 100%;
    height: 1.4rem;
    border-radius: 0.25rem;
    background: #FFF;
    border: none;
    padding-left: 1.7rem;
}

.search-container .header .search-input img {
    position: absolute;
    top: .35rem;
    left: .35rem;
    width: .7rem;
    height: .7rem;
}

.search-container .content {
    background: #F5F5F5;
    height: 100%;
    padding-left: 0.75rem;
}

.select-container {
    height: 2.2rem;
    background: #8FD026;
    color: #FFF;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select-container .select {
    flex: 1;
    width: 25%;
    text-align: center;
}
.tpicker {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    z-index: 999;
}

.tpicker-mask {
    position: fixed;
    top: 88px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    z-index: 5;
    touch-action: none;
}

ul {
    list-style-type: none;
}

.tpicker .left {
    background: #FFFFFF;
    width: 100%;
    position: relative;
}

.tpicker .right {
    background: #F1F1F1;
    color: #333;
    font-size: 14px;
    flex: 1;
    height: 100%;
}

.tpicker #rightScroll {
    flex: 1;
}

.tpicker .scroll {
    overflow: hidden;
    width: 100%;
}

.tpicker .left li {
    height: 41px;
    line-height: 41px;
    border-bottom: 1px solid #E6E6E6;
    color: #6F6F6F;
    text-align: left;
    font-size: 14px;
    padding-left: 24px;
}

.tpicker .left li.active {
    color: #8FD026;
}

.tpicker .right li {
    height: 41px;
    line-height: 41px;
    color: #333;
    text-align: left;
    padding-left: 24px;
    font-size: 14px;
}

.tpicker .tpicker-panel {
    top: 96px;
}

.wheel:nth-child(2) {
    background: #F5F5F5;
}

.select-container input, .select-container select {
    border: none;
    color: #FFF;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/drop-arow.png") scroll right center transparent;
    background-size:8px 12px ;
    background-repeat: no-repeat;
    padding-right: 13px;
    width: 32%;
    outline: none;
}

.select{
    background: url("../images/drop-arow.png") scroll right center transparent;
    background-size:10px 8px ;
    background-repeat: no-repeat;
    /*padding-right: 13px;*/
    background-position: right 10px top 9px;
}

.select span {
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    width: 50%;
    white-space:nowrap;
    display: inline-block;
}

.order-content .result {
    color: #FA2F2F;
}

.order-content {
    /*padding: .55rem .55rem;*/
    height: 540px;
    background: #F5F5F5;
    /*margin-top: 88px;*/
    /*position: fixed;*/
    /*top: 88px;*/
    width: 100%;
    overflow: hidden;
}

.weui-loadmore {

}

.search-container .order-content .location img {
    width: .9rem;
    height: 1.2rem;
}

.order-content .order-item {
    margin-top: 0.55rem;
    background: #FFF;
    position: relative;
}

.order-content .order-item .hotel-tel {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 12px;
    color: #333;
    padding-left: 1rem;
}

.order-content .order-item .weui-media-box .weui-media-box__hd {
    width: 5.4rem;
    height: 4.1rem;
}

.order-content .order-item .weui-media-box img {
    height: 100%;
}

.order-content .order-item .hotel-house {
    font-size: .6rem;
    color: #6F6F6F;
    margin-top: .2rem;
    font-weight: 400;
}

.order-content .order-item .hotel-time {
    font-size: .6rem;
    color: #333;
    margin-top: 1rem;
}

.hotel-price {
    color: #FF4040;
}

.order-content .price-time {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container .weui-tabbar{
    position: fixed;
    bottom: 0;
}

.weui-tabbar .weui-tabbar__icon {
    display: inline-block;
    width: auto;
    height: 1rem;
}

.weui-tabbar .weui-tabbar__icon img {
    height: 1rem;
    width: auto;
}

.weui-tabbar .selected {
    color: #8FD026;
}
